# Django
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.db
**/*.sqlite3
**/migrations/*
!**/migrations/__init__.py

# Media files
**/media/

# Static files
**/collectstatic/*
!**/collectstatic/.gitkeep

# Virtual environment
**/venv/
**/env/
**/*.env

# Docker
**/mysql/

# Local development settings
**/local_settings.py

# IDE files
**/.vscode/
**/.devcontainer/
**/.idea/

# Compiled Python files
**/*.pyc

# macOS
**/.DS_Store

# Windows
**/Thumbs.db
