{% extends "users/layout.html" %}

{% block body %}
    <h2>Log in</h2>

    {% if message %}
        <span>{{ message }}</span>
    {% endif %}

    <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Log in">
    </form>

    <span>Do you not have an account? <a href="{% url 'signup' %}">Sign up</a></span>
{% endblock body %}
