{% extends "config/base.html" %}

{% block title %}Log in / board{% endblock title %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="px-2 w-full max-w-[275px]">
            <h1 class="mb-6">
                <a href="
                {% if request.user.is_authenticated %}
                    {% url "home" %}
                {% else %}
                    {% url "index" %}
                {% endif %}"
                class="text-6xl font-bold">board</a>
            </h1>
            
            <h2 class="mb-6 text-4xl font-bold">Log in</h2>
    
            <form action="{% url "login" %}" method="post" class="mb-4 flex gap-4 flex-col">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required class="py-3 pl-6 pr-9 text-lg border-[1.85px] rounded-full">
    
                <input type="password" name="password" placeholder="Password" required class="py-3 pl-6 pr-9 text-lg border-[1.85px] rounded-full">
    
                <input type="hidden" name="next" value="{{ request.GET.next }}">
    
                <input type="submit" value="Log in" class="self-baseline px-7 py-2 text-lg font-medium text-white bg-slate-950 border rounded-full border-slate-950 cursor-pointer transition-transform active:scale-95">
            </form>
    
            <div>
                <a href="{% url 'signup' %}" class="font-medium opacity-70 cursor-pointer">No account?</a>
                <a href="{% url 'signup' %}" class="font-medium text-blue-500 cursor-pointer">Sign up</a>
            </div>
        </div>
    </div>
{% endblock body %}
