{% extends "users/layout.html" %}

{% block body %}
    <h2>Sign up</h2>

    {% if message %}
        <span>{{ message }}</span>
    {% endif %}

    <form action="{% url "signup" %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign up">
    </form>

    <span>Do you have an account already? <a href="{% url 'login' %}">Log in</a></span>
{% endblock body %}
